<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=480" />
		<!--{title}-->
		<link rel="stylesheet" href="../template/style.css" type="text/css" />
		<script language="javascript" type="text/javascript" src="../template/main.js"></script>
	</head>
	<body>

		<h3>
			<!--{title_link}-->
		</h3>
		
		<div class="via">
			<!--{via}-->
		</div>
		
		<div id="content">
			<!--{content}-->
		</div>

		<div id="nav">
			<!--{nav_prev}-->
			<div class="sep"></div>
			<!--{nav_up}-->
			<div class="sep"></div>
			<!--{nav_email}-->
			<div class="sep"></div>
			<!--{nav_del}-->
			<div class="sep"></div>
			<!--{nav_next}-->
		</div>

	</body>
</html>
