<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=500" />
		<!--{title}-->
		<link rel="stylesheet" href="../template/style.css" type="text/css" />
		<script language="javascript" type="text/javascript" src="../template/main.js"></script>
	</head>
	<body onload="init()">

		<div class="nav" id="nav_top">
			<a class="prev" href="./?action=prev">&lt;- previous</a>
			<div class="sep"></div>
			<a class="up" href="./">^ up</a>
			<div class="sep"></div>
			<a class="email" href="#" onclick="return email()">email</a>
			<div class="sep"></div>
			<a class="star" href="#" onclick="return star()">* star</a>
			<div class="sep"></div>
			<a class="delete" href="#" onclick="return delete_fn()">x delete</a>
			<div class="sep"></div>
			<a class="next" href="./?action=next">next -&gt;</a>
		</div>


		<h1 id="title">
			<!--{title_link}-->
		</h1>
		
		<div class="via">
			<!--{via}-->
		</div>
		
		<div id="content">
			<!--{content}-->
		</div>

		<div class="nav" id="nav_bottom">
			<a class="prev" href="./?action=prev">&lt;- previous</a>
			<div class="sep"></div>
			<a class="up" href="./">^ up</a>
			<div class="sep"></div>
			<a class="email" href="#" onclick="return email()">email</a>
			<div class="sep"></div>
			<a class="star" href="#" onclick="return star()">* star</a>
			<div class="sep"></div>
			<a class="delete" href="#" onclick="return delete_fn()">x delete</a>
			<div class="sep"></div>
			<a class="next" href="./?action=next">next -&gt;</a>
		</div>

	</body>
</html>
