<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
	<key>Label</key>
	<string>net.gfxmonk.gris.autosync</string>

	<key>UserName</key>
	<string>mobile</string>

	<key>ProgramArguments</key>
	<array>
	  <string>python</string>
	  <string>/var/mobile/GRiS/sync/main.py</string>
	  <string>--output-path=~/GRiS</string>
	</array>

	<key>StartInterval</key>
	<integer>3600</integer>

  </dict>
</plist>
