.*
*.pyc
config.yml
config.plist
*.app
*.sqlite
GRiS.pkg-build
src/iphone/GRiS.xcodeproj/*.mode1v3
src/iphone/GRiS.xcodeproj/*.pbxuser
src/iphone/GRiS.xcodeproj/*.tm_build_errors
src/iphone/GRiS.tmproj
src/iphone/build/
src/iphone/Icon.png
