Package: com.sysprosoft.gfxmonk.gris
Name: GRiS
Version: 0.1.0-1
Architecture: iphoneos-arm
Depends: iphone-python
Description: Google Reader iPhone Sync (GRiS) is an RSS reader
 that syncs up with your google reader account. Features
 image downloading for offline viewing.
Homepage: http://gfxmonk.sysprosoft.com/?action=iphone
Maintainer: Tim Cuthbertson <tim3d.junk@gmail.com>
Author: Tim Cuthbertson (gfxmonk) <tim3d.junk@gmail.com>
Section: Entertainment
