Package: com.sysprosoft.gfxmonk.gris
Name: GRiS
Version: 0.1.2-7
Architecture: iphoneos-arm
Depends: python
Description:
 Google Reader iPhone Sync - RSS client for Google Reader featuring image caching for true offline viewing.
Homepage: http://gfxmonk.sysprosoft.com/?action=gris
Maintainer: Tim Cuthbertson <tim3d.junk+gris@gmail.com>
Author: Tim Cuthbertson (gfxmonk) <tim3d.junk+gris@gmail.com>
Section: Entertainment
